{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="about-container">
    <div class="about-card">
        <h1>About Developer 👨‍💻</h1>
<h2 class="dev-name">Ram Mukka</h2>
<p class="dev-role">
    BTech IT Graduate | Python & Django Developer
</p>
<p class="dev-desc">
    Passionate about building modern web applications and solving real-world
    problems using Python, Django, HTML, CSS, and JavaScript.
</p>
<p class="dev-desc">
    This Music App project is designed with a Spotify-inspired UI
    using Django backend and custom frontend styling.
</p>
<a href="mailto:yourmail@gmail.com" class="about-btn">
    Contact Me
</a>
    </div>
</div>
{% endblock content %}