
<footer class="footer">
    <div class="footer-container">

        <div class="footer-logo">
            <h2>MyMusic 🎵</h2>
            <p>Stream your favorite songs anytime.</p>
        </div>

        <div class="footer-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'telugu' %}">Telugu</a>
            <a href="{% url 'hindi' %}">Hindi</a>
            <a href="{% url 'english' %}">English</a>
            <a href="{% url 'about' %}">About</a>
        </div>

        <div class="footer-copy">
            <p>© 2026 MyMusic | Developed by Ram Mukka 👨‍💻</p>
        </div>

    </div>
</footer>