{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'stylesheet/nav.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/telugu.css' %}">
    <link rel="stylesheet" href="{% static 'css/hindi.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/english.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    {% include 'nav.html'%}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html'%}
</body>
</html>