/* ===== HERO SECTION ONLY ===== */
.home-hero{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    background: linear-gradient(to bottom, #1DB954 0%, #121212 45%);
    color: white;
}

/* ===== MAIN TITLE ===== */
.home-hero h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* ===== SUBTITLE ===== */
.home-hero p{
    font-size: 18px;
    color: #e0e0e0;
    max-width: 600px;
    margin-bottom: 40px;
}

/* ===== BUTTON ===== */
.explore-btn{
    background-color: #1DB954;
    color: black;
    padding: 14px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(29,185,84,0.4);
}

.explore-btn:hover{
    background-color: #1ed760;
    transform: scale(1.08);
    box-shadow: 0 8px 25px rgba(29,185,84,0.7);
}
